<div xmlns:th="https://www.thymeleaf.org"
     th:fragment="widget (sidebar)"
     th:class="'card widget timelife ' + ${sidebar.hide}">

    <div class="card-title" th:with="defaultTitle=#{widget.timelife.title}">
        <i class="card-title-label"
           th:with="iconContent = ${#strings.defaultString(sidebar.icon, 'ri-hourglass-line')},
                    iconSvg = ${#strings.startsWith(iconContent, '<svg')}"
           th:classappend="${iconSvg ? '' : iconContent}"
           th:utext="${iconSvg ? iconContent : ''}"></i>
        <span th:text="${#strings.defaultString(sidebar.title, defaultTitle)}"></span>
    </div>
    <div class="card-content aside-timelife"></div>
</div>
